.coin-card {
  width: 350px;
  margin: 12px 0;
  padding: 20px;
  border-radius: 5%;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.coin-name {
  text-align: end;
}

.coin-logo {
  width: 15%;
}

.coin-price {
  text-align: end;
}