.coin-card {
  width: 350px;
  padding: 15px;
  margin-bottom: 3.4%;
  border-radius: 5%;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
}

.coin-name {
  width: 80%;
  text-align: end;
}

.coin-logo {
  width: 15%;
}

.coin-price {
  text-align: end;
}