@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.nav {
    padding: 7px;
    background-color: #232931;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-brand {
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}