@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.nav {
    padding: 7px;
    background-color: #232931;
}

.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-brand {
    color: white;
    font-family: 'Kaushan Script', cursive;
}

.nav-search {
    padding: 0 7px;
    align-self: center;
    color: white;
    border-bottom: 1px solid #727c79;
    transition: linear 0.1s;
}

.nav-search:focus-within {
    padding: 3px 7px;
    border-bottom: 2px solid #4ecca3;
}

.nav-search input {
    width: 170px;
    padding: 7px;
    margin: 0 3px;
    border: none;
    color: white;
    background-color: #232931;
}