.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 15px auto;
  justify-content: flex-end;
  align-items: center;
  color: #21262c;
}

.sort .fa-filter {
  margin-right: 5px;
}